
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around; 
    background-color: lavender;
}