header {
    background-color: aqua;
}

body {
    background: coral;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    background-color: lavender;
    list-style-type:none;
}

a {
    color: #000000;
    text-decoration: none;
}
