.container {

}
.nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around; 
    background-color: lavender;
    list-style-type:none;
}


a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}